@inject IHttpContextAccessor IHttpContextAccessor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@{
    var countcart = IHttpContextAccessor?.HttpContext?.Session.GetInt32("cartcount") ?? 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Fruitway store</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                       
                        <div class="site-logo">
                            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><h3 class="text-light">Fruitway</h3></a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item">
                                    <a asp-action="Index" asp-controller="Home">Home</a>
                                   
                                </li>
                                <li><a asp-action="About" asp-controller="Home">About</a></li>
                               


                                <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                <li>
                                    <a asp-action="Shop" asp-controller="Product">Shop</a>
                                   
                                </li>
                                <li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="GeAllProducts" asp-controller="AdminProduct">Admin</a>
                                       
                                    }

                                </li>






                                @* 	<a class="btn btn-primary btn-sm mb-2" asp-action="Login" asp-controller="Account">Login</a>
                                <a class="btn btn-secondary btn-sm mb-2" asp-action="Register" asp-controller="Account">Register</a>
                                <a class="btn btn-danger btn-sm" asp-action="Logout" asp-controller="Account">
                                Logout


                                </a> *@
                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    @*
                                <p> Hello @User?.Identity?.Name </p> *@
                                    <li>
                                        <a class="login-icon" asp-action="Login" asp-controller="Account" title="Login">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="username">Login</span> <!-- Optional: Add a label -->
                                        </a>

                                    </li>
                                    <li>
                                        <a class="register-icon" asp-action="Register" asp-controller="Account" title="Register">
                                            <i class="fas fa-user-plus"></i>
                                            <span class="username">Register</span> <!-- Optional: Add a label -->
                                        </a>
                                    </li>


                                   
                                }
                                else
                                {
                                    <li>
                                        <a class="user-profile" asp-action="User" asp-controller="Users" title="User Profile">
                                            <i class="fas fa-user"></i>

                                        </a>
                                        <ul class="sub-menu ">
                                            <li>
                                                <a class="btn btn-primary text-light" asp-action="User" asp-controller="Users"
                                                   asp-route-Id=" @User?.Identity?.Name">
                                                    <i class="fas fa-user"></i>
                                                    <span class="username">  Hello @User?.Identity?.Name</span>
                                                   
                                                </a>
                                            </li>
                                            <a class="logout-icon btn btn-danger" asp-action="Logout" asp-controller="Account">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span class="username">Logout</span> <!-- Optional: Add a label -->
                                            </a>
                                        </ul>

                                    </li>



                                }

                                <li>
                                    <div class="header-icons">
                                        <!-- Shopping Cart with Counter -->
                                        <a class="shopping-cart" asp-controller="ShappingCart" asp-action="Index" style="position: relative;">
                                            <i class="fas fa-shopping-cart"></i>
                                            <!-- Cart Counter Badge -->
                                            <span class="badge rounded-pill bg-danger" style="position: absolute; top: -10px; right: -10px;">
                                                (  @countcart  ) <!-- Replace with dynamic cart count -->
                                            </span>
                                        </a>

                                        <!-- Search Icon (hidden on mobile) -->
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>


                            </ul>

                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search area -->
    @RenderBody()










    <!-- logo carousel -->
    @* <div class="logo-carousel-section">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="logo-carousel-inner">
    <div class="single-logo-item">
    <img src="~/img/company-logos/1.png" alt="">
    </div>
    <div class="single-logo-item">
    <img src="~/img/company-logos/2.png" alt="">
    </div>
    <div class="single-logo-item">
    <img src="~/img/company-logos/3.png" alt="">
    </div>
    <div class="single-logo-item">
    <img src="~/img/company-logos/4.png" alt="">
    </div>
    <div class="single-logo-item">
    <img src="~/img/company-logos/5.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> *@
    <!-- end logo carousel -->
    <!-- footer -->
   
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; 2019 - <a href="#">Fruitway</a>,  All Rights Reserved.<br>
                        Powerd By - <a href="https://www.linkedin.com/in/mostafa-aboelhassan/">Mostafa Mahmoud</a>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mostafa-aboelhassan/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>

</body>
</html>